<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="udropship_adminhtml_vendor_edit_prepare_form">
        <observer name="braspag_unirgy_vendor_subordinate_data" instance="Braspag\Unirgy\Observer\UdropshipAdminhtmlVendorEditPrepareForm"/>
    </event>
</config>
